.send-button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: rgb(57, 187, 79);
  color: white;
}

.send-button:hover {
  opacity: 0.8;
}

  .send-container {
    position: fixed;
    padding-bottom: 30px;
    bottom: 0;
    background-color: white;
    max-width: 1200px;
    width: 80%;
    display: flex;
  }

  .chatWindow {
    padding: 20px;
    height: 100vh;
    max-height: 100%;
    margin: 10px;
  }

  .liMessage {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .logoutBtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    text-decoration: none;
    color: white;
  }

  .logoutBtn:hover {
      opacity: 0.8;
  }

  .titleDash{
    color: white;
    margin: 10px;
    font-size: 60px;
}

.createJoinBtn {
  margin: 10px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid white;
  color: white;
  transition: all 500ms;
}

.createJoinBtn:hover {
  opacity: 0.8;
  font-size:20px;
  cursor: pointer;
}