body {
    background-color: rgb(112, 65, 108);
    display: flex;
    justify-content: center;
}

.manageHomeDivs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    color: white;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
}

.middleHomeDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.welcomeTextStyle {
    color: white;
    width: 400px;
    margin-top: 80px;
    padding: 10px;
    text-align: center;
}

.homeImage {
    width: 50%;
    height: 250px;
    margin: 20px;
    border-radius: 50%;
    opacity: 0.8;
}

.loginLink {
    color: white;
    text-decoration: none;
    transition: all 500ms;
    margin: 10px;
    background-color: Crimson;  
    border-radius: 5px;
    padding: 0.5em;
    width: fit-content;
}

.loginLink:hover {
    color: white;
    cursor: pointer;
    font-size:50px;
    font-size-adjust: 20px;
    opacity: 0.8;
}
