footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 8vh;
  display: flex !important;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #867B7B;
  /* background-image: linear-gradient(#daf5ff, transparent, transparent); */
}