.leftPanel {
  background-color: #867B7B;
  padding: 60px;
}
.profileImage {
  height: 150px;
  /* width: 90%; */
  position: absolute;
  z-index: 99;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.container {
  position: relative;
  height: 50px;
  background-color: #867B7B;
}

.profileImageSelection {
  background-color: #C4C4C4;;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  height: 100%;
  width: 20%;
  border-radius: 25px;
  border: 1px solid white;
  margin: 10px;
}
.editProfile {
  text-align: center;
  display: block;
  margin: 10px;
  text-decoration: underline;
}
.center {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .leftPanel {
    width: 100%;
    margin: 10px;
    
  }
}