.loginForm {
  background-color: #867B7B;
  width: 40%;
  border-style: groove;
  border-width: 2 px;
  padding: 30px;
  margin: 10px;
}

.labelColor{
  color: white;
}

.buttonSize{
  width: 20%;
}

.buttonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputSize {
  width: 100%;
}