.loginForm {
  background-color: #867B7B;
  width: 40%;
  border-style: groove;
  border-width: 2 px;
  padding: 30px;
  margin: 10px;
}

.labelColor{
  color: white;
}

.buttonSize{
  width: 100%;
  margin: 5px;
}

.buttonsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.inputSize {
  width: 100%;
}

.loginStyle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  margin-bottom: 30px;
  border-radius: 25px;
  border: 1px solid white;
}