 .rightPanel {
  padding: 40px;
  margin: 10px;
  float: right;
  width: 75%;
  height: 80vh; 
  overflow:auto;
  background-color: #867B7B;
  
}
.col-form-label {
  text-align: right;
  color: white;
} 

 @media only screen and (max-width: 768px) {
  .col-form-label {
    text-align: left;
    color: white;
  }
  .rightPanel {
    width: 100%;
    margin-bottom: 50px;
  }
} 

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
}